<h1>ログイン</h1>

<form action="#" method="post">
  <ul>
    <li>
      <label for="user_name">Name:</label>
      <input type="text" id="user_name" name="user[name]">
    </li>
    <li>
      <label for="user_password">Password:</label>
      <input type="password" id="user_password" name="user[password]">
    </li>
  	<li>
			<input type="submit" value="ログイン">
		</li>
	</ul>
</form>
